/* @import url("https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Bitter:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"); */

body {
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.handclip {
  clip-path: polygon(0 0, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.about__radius {
  border-radius: 50% 0 50% 0;
}

.about__radius2 {
  border-radius: 0 50% 0 50%;
}

.custom__text__shadow {
  text-shadow: 0 10px 10px black;
}

.scroll__style__light::-webkit-scrollbar {
  background: transparent;
}

.scroll__style__light::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: linear-gradient(90deg, #0067a3 0%, rgba(1, 40, 78, 0.944) 100%);
}

.scroll__style__dark::-webkit-scrollbar {
  background: transparent;
}

.scroll__style__dark::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: linear-gradient(90deg, #195f90 0%, rgba(14, 0, 53, 0.944) 100%);
}

.translate {
  animation: translate 0.3s linear;
}

.transit {
  transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
}

@keyframes translate {
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(0);
  }
}

.translateB {
  right: -70px;
  animation: translateB 0.3s linear;
}

@keyframes translateB {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100);
  }
}

.auth__grid {
  display: grid;
  grid-template-columns: 30% 70%;
}

.auth__left {
  clip-path: polygon(0 0, 100% 0, 70% 100%, 0% 100%);
}

.auth__right {
  clip-path: polygon(30% 0, 100% 0, 100% 100%, 0% 100%);
}

